apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: lucl
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-eirk-tenant/byoc-app-jyup/lucl@sha256:a9750165d79096dfd52530d211e526a589eb124514ea5ab17721b2042e5976f1
        name: my-java-quarkus
        resources: {}
status: {}
